<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @surgery.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @surgery.user_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @surgery.patient_id %>
</p>

<p>
  <strong>S date:</strong>
  <%= @surgery.S_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @surgery.place %>
</p>

